/* app/main/pages.css */

body{
  font-family: "Inter", sans-serif;
  background-color: white;
  color: black;
}

/* page.css */

.avatar-wrapper {
  display: flex; /* Use Flexbox for layout */
  align-items: center; /* Center align items vertically */
  padding: 10px; /* Add some padding */
}

.avatar-container {
  width: 40px; /* Set a fixed width for the avatar box */
  height: 40px; /* Set a fixed height for the avatar box */
  background-color: #2C2C2C; /* Background color for the avatar box */
  border-radius: 8px; /* Make it circular */
  display: flex; /* Use Flexbox to center content */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  color: white;
}

.avatar {
  font-size: 20px; /* Size of the avatar text */
}

.avatar-info {
  margin-left: 10px; /* Add some space between avatar and info */
  display: flex;
  flex-direction: column; /* Stack info vertically */
}

.avatar-info p {
  font-size: 13px;
  margin: 0; /* Remove default margin for paragraphs */
 }

#header {
  font-weight: bold;
}

.table {
  justify-content: center;
  width: 100%;
  /* border-radius: 100px; */
  /* border-width: 5px; */
}
.data-table {
  border-collapse: separate;
  border-style: hidden;
  border-spacing: 0;
  margin-top: 20px;
  margin-left: 20px;
  width: calc(100% - 40px); /* Calculate width to maintain 20px distance from sides */

}

td {
  border: solid 1px #000;
  border-style: none solid solid none;  
  /* border-style : hidden!important; */
  padding: 10px;
}

tr:first-child td:first-child { border-top-left-radius: 10px; }
tr:first-child td:last-child { border-top-right-radius: 10px; }

tr:last-child td:first-child { border-bottom-left-radius: 10px; }
tr:last-child td:last-child { border-bottom-right-radius: 10px; }

tr:first-child td { border-top-style: solid; }
tr td:first-child { border-left-style: solid; }

/* .data-table th, .data-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
} */

#table-header{
  text-align: left;
  /* background-color: rgb(237, 237, 237); */
  font-weight: bold;
  text-decoration: underline;
}

.data-table th {
  background-color: #f2f2f2;
}

.add-button {
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #2C2C2C;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #525151;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.popup-content h2 {
  margin-top: 0;
}

.popup-content button {
  margin-left: 5px;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #2C2C2C;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}